* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    body {
        position: relative;
        z-index: -1;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    /* Start of Navigation section styles */
    .navigation-section {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        gap: 50px;
        padding: 25px 0;
    }

    .navigation-section__menu-icon {
        display: none;
    }

    .navigation__logo-image {
        grid-row: 1;
        grid-column: 1;
        margin-left: 10%;
    }

    .navigation__menu-bar {
        display: none;
    }

    .navigation__menu-items {
        display: flex;
        grid-column: 1 / -1;
        justify-content: space-around;
    }

    .navigation__menu-item {
        font-size: 14px;
        border-radius: 30px;
        border-bottom: 3px solid #f6bed9;
        color: #050505;
        padding: 2px 20px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: color 0.2s ease;
    }

    .navigation__menu-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #f6bed9;
        transition: width 0.3s ease;
        z-index: -1;
        border-radius: 30px;
    }

    .navigation__menu-item:hover::before {
        width: 100%;
    }

    .navigation__menu-item:hover {
        font-weight: 400;
        color: #050505;
    }

    .navigation-buttons {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        margin-right: 13%;
    }

    .booking-button {
        background-color: #6F2CFF;
        color: #fff;
        font-size: 1.3vw;
        border: 3px solid #6F2CFF;
        border-radius: 30px;
        width: 15vw;
        height: 3.5vw;
    }

    .booking-button:hover {
        background-color: #fff;
        color: #6F2CFF;
        transition: 0.3s;
    }

    .navigation__login-button {
        width: 50px;
        font-size: 14px;
        border: none;
        background: none;
    }

    .navigation__login-button:hover {
        font-weight: 550;
        font-size: 16px;
        color: #6F2CFF;
        transition: 0.2s;
    }

    /* End of Navigation section styles */

    /* Start of Header section styles */
    .header-section {
        position: relative;
        z-index: -1;
        flex: 1;
    }

    .header-section__container {
        display: flex;
    }

    .main-header__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 25px;
        margin-left: 4vw;
        padding-bottom: 100px;
    }

    .header-section__background-image {
        position: absolute;
        z-index: -1;
        top: 10px;
        max-width: 100%;
    }

    .header-section__subtitle {
        margin-top: 60px;
        font-size: 14px;
        font-weight: 400;
    }

    .header-section__hero-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
    }

    .hero-title__color {
        color: #6F2CFF;
    }

    .header-section__info {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
    }

    .emailing-booking__buttons {
        display: flex;
    }

    .input-email__button {
        width: 20vw;
        height: 3.5vw;
        flex-shrink: 0;
        padding-left: 4vw;
        font-size: 13px;
        border-radius: 27.5px 0px 0px 27.5px;
        border: 1px solid #6F2CFF;
        background: #FFF;
    }

    .input-email__button:focus {
        border: 3px solid #6F2CFF;
        outline: #6F2CFF;
    }

    .header-section__booking-button {
        border-radius: 0px 27.5px 27.5px 0px;
    }

    /* End of Header section styles */

    /* Start of Trusred brands section styles */
    .trusted-brands {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 220px;
    }

    .trusted-brands__title {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
    }

    .trusted-brands__images {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 50px;
        justify-content: space-evenly;
    }

    .meeting-customers__button {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .customers-button {
        background: none;
        border: none;
        color: #1c1c1c;
        font-size: 12px;
        font-weight: 700;
        height: 50px;
    }

    .under-line {
        display: inline-block;
        width: 130px;
        height: 2px;
        background-color: #6F2CFF;
        margin-left: -5px;
    }

    .customers-button:hover {
        font-size: 12.5px;
        color: #6F2CFF;
        transition: 0.2s;
    }

    /* End of Trusted brands section styles */

    /* Start of Statistics section styles */
    .statistics-section {
        display: flex;
        justify-content: space-evenly;
        gap: 100px;
    }

    .statistics-section__part-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        margin-left: 15px;
    }

    .section-title {
        font-size: 27px;
    }

    .statistics-section__buttons {
        display: flex;
        gap: 30px;
    }

    .statistics-section__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .statistics-section__items p {
        font-size: 14px;
    }

    .statistics-section__items a {
        font-size: 14px;
        font-weight: 400;
        color: #050505;
        text-decoration: underline 1.5px;
    }

    .statistics-section__items a:hover {
        font-weight: 500;
    }

    .statistics-section__part-2 {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }

    .statistics-section__part-2__column {
        display: flex;
        gap: 20px;
    }

    .statistics-section__part-2__info-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .vertical-line {
        width: 1.5px;
        height: 115%;
        background-color: #e0e0e0;
    }

    .statistics-section__part-2__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .section-subtitle {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }

    /* End of Statistics section styles */

    /* Start of Commerce section styles */
    .commerce-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 150px;
    }

    .commerce-section__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .section__intro {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }

    .commerce-section__items {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .commerce-section__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0.23;
        gap: 15px;
        text-align: center;
        padding: 20px;
    }

    .commerce-section__item:hover {
        background-color: lavender;
        transition: 0.2s;
    }

    .commerce-section__item-title {
        font-size: 19px;
        font-weight: 700;
    }

    /* End of Commerce section styles */

    /* Start of Feature section styles */
    .feature-section {
        background-color: #f5f5f5;
    }

    .feature-section__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .feature-section__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 50px;
    }

    .feature-section__description p {
        text-align: center;
    }

    .feature-section__main-image {
        display: flex;
        justify-content: center;
    }

    .feature-section__main-image img {
        max-width: 100%;
    }

    .feature-section__buttons {
        display: flex;
        gap: 30px;
        padding-bottom: 50px;
    }

    .products-button {
        width: 15vw;
        height: 3.5vw;
        border: 2px solid #6F2CFF;
        border-radius: 30px;
        font-size: 1.4vw;
        background: #fff;
        color: #6F2CFF;
    }

    .products-button:hover {
        border: 3px solid #6F2CFF;
        font-weight: 600;
    }

    /* End of Feature section styles */

    /* Start of Services section styles */
    .services-section__title {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .services-section__items {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr;
        justify-content: space-evenly;
        gap: 30px;
        text-align: center;
        margin-bottom: 50px;
    }

    .services-section__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .services-section__item:hover {
        background-color: lavender;
        transition: 0.2s;
    }

    .services-section__item-title {
        font-size: 17px;
        font-weight: 600;
    }

    /* End of Services section styles */

    /* Start of Leading brands section styles */
    .leading-brands {
        padding: 50px 0;
        background-color: #f5f5f5;
    }

    .leading-brands__title {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .leading-brands__items {
        display: grid;
        justify-content: space-around;
    }

    .brand-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 520px;
        text-align: center;
        background-color: #fff;
        color: #6F2CFF;
        border-radius: 10px;
        padding: 30px 100px;
        margin: 20px 0;
    }

    .brand-items:hover {
        box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
        transition: 0.2s;
    }

    .brand-info {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
    }

    /* End of Leading brands section styles */

    /* Start of Sector scale personalization styles */
    .sector-scale__section {
        padding: 50px 0;
    }

    .sector-scale__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
    }

    .sector-scale__items {
        display: grid;
        justify-content: center;
        gap: 30px;
        margin: 0 18%;
    }

    .sector-scale__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 30px;
        padding-bottom: 20px;
        border-radius: 10px;
        background-color: #17002e;
        color: #fff;
    }

    .item__icon-title {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .border-bottom {
        border-bottom: 3px solid #fff;
        padding-bottom: 5px;
    }

    /* End of Sector scale personalization styles */

    /* Start of Ecosystem section styles */
    .ecosystem-section {
        padding: 50px 0;
        padding-bottom: 0;
        background-color: #f5f5f5;
    }

    .ecosystem-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ecosystem-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .ecosystem-data {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .ecosystem__main-image {
        display: flex;
        justify-content: center;
    }

    /* End of Ecosystem section styles */

    /* Start of Booking demo section styles */
    .booking-section {
        background-color: #280b44;
    }

    .booking-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 50px 0;
        color: #fff;
    }

    /* End of Booking demo section styles */

    /* Start of Contacting section styles */
    .contacting-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .connecting-icons {
        display: flex;
        gap: 30px;
    }

    .connecting-icons i {
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
    }

    .connecting-icons i:hover {
        font-size: 25px;
        transition: 0.2s;
        color: #6F2CFF;
    }

    /* End of Contacting section styles */

    /* Start of Footer section styles */
    .footer-section {
        background-color: #20003c;
        padding: 50px 0;
    }

    .footer-section__info {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 30px;
        row-gap: 50px;
        justify-content: space-evenly;
        margin-bottom: 50px;
        text-align: center;
    }

    .footer-section__items {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-section__links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .no-title {
        margin-top: 20px;
    }

    .links-title {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }

    .footer-section__links li a {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
    }

    .footer-section__logo-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-copyright {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
    }

    .footer-icon i {
        display: inline-block;
        font-size: 15px;
        background-color: #fff;
        color: #20003c;
        border: 1.5px solid #fff;
        border-radius: 50%;
        margin-left: 50px;
    }

    /* End of Footer section styles */

}